# fly.toml app configuration file generated for todo-web-be on 2026-02-07T14:08:37+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'todo-web-be'
primary_region = 'nrt'

[build]
  dockerfile = 'Dockerfile.web-be'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '5s'
    grace_period = '5s'
    path = '/health'

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
