# Flutter
.dart_tool/
.packages
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/captures/
android/key.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.ipa
